

<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu1
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Categories">Categories</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Occasions">Occasions</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Price Range">Price Range</a>
   
</div>
